.content41{
  margin-top: 64px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
 
  padding: 0 28px;
  border-radius: 12px;
  box-shadow: 0 0 40px 0 rgba(94,92,154,.06);
  background-color: #fff;
}
.fc-media-screen{
  margin: auto;
  width: 95%;
  padding: 20px;
  min-height: 500px;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 2em;
  position: relative;
}
.fc .fc-daygrid-day-events {
  margin-top: 1px;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-start, .fc-direction-rtl .fc-daygrid-event.fc-event-end {
  margin-left: 2px;
}
.fc .fc-daygrid-event-harness {
  position: relative;
}
.fc .fc-daygrid-event {
  margin-top: 1px;
  z-index: 6;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 2em;
  position: relative;
}
.fc .fc-daygrid-day-events {
  margin-top: 1px;
}
.fc .fc-button:disabled {
  opacity: 0.65;
}
.fc .fc-button-primary:disabled {
  background-color: var(--fc-button-bg-color);
  border-color: var(--fc-button-border-color);
  color: var(--fc-button-text-color);
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a.fc-event, a.fc-event:hover {
  text-decoration: none;
}
.fc-daygrid-dot-event {
  align-items: center;
  display: flex;
  padding: 2px 0px;
}
.fc-daygrid-event {
  border-radius: 3px;
  font-size: var(--fc-small-font-size);
  position: relative;
  white-space: nowrap;
}
.fc-daygrid-dot-event .fc-event-title {
  flex-grow: 1;
  flex-shrink: 1;
  font-weight: 700;
  min-width: 0px;
  overflow: hidden;
}
.fc .fc-toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
*, ::after, ::before {
  margin: 0;
    margin-bottom: 0px;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.fc-direction-ltr {
  direction: ltr;
  text-align: left;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc {
  display: flex;
  flex-direction: column;
  font-size: 1em;
}
.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1.5em;
}
.fc .fc-toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc-direction-ltr .fc-daygrid-event .fc-event-time {
  margin-right: 3px;
}

.fc .fc-daygrid-event {
  margin-top: 1px;
  z-index: 6;
}
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 2em;
  position: relative;
}
.fc .fc-daygrid-day-events {
  margin-top: 1px;
}
.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width)/2) solid var(--fc-event-border-color);
  border-radius: calc(var(--fc-daygrid-event-dot-width)/2);
  box-sizing: content-box;
  height: 0px;
  margin: 0px 4px;
  width: 0px;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
*, ::after, ::before {
  margin: 0;
    margin-top: 0px;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
*, ::after, ::before {
  box-sizing: border-box;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
}
table {
  border-collapse: collapse;
}
.fc .fc-scroller-harness {
  direction: ltr;
}
.fc .fc-scrollgrid {
  border-collapse: separate;
}
a:not([href]) {
  color: inherit;
  text-decoration: none;
}
a.fc-event, a.fc-event:hover {
  text-decoration: none;
}
.fc-daygrid-dot-event {
  align-items: center;
  display: flex;
  padding: 2px 0px;
}
.fc-daygrid-event {
  border-radius: 3px;
  font-size: var(--fc-small-font-size);
  position: relative;
  white-space: nowrap;
}
.fc-daygrid-event-dot {
  border: calc(var(--fc-daygrid-event-dot-width)/2) solid var(--fc-event-border-color);
  border-radius: calc(var(--fc-daygrid-event-dot-width)/2);
  box-sizing: content-box;
  height: 0px;
  margin: 0px 4px;
  width: 0px;
}
.fc .fc-toolbar-title {
  font-size: 1.75em;
  margin: 0px;
}
.fc-direction-ltr {
  direction: ltr;
  text-align: left;
}
.fc {
  font-size: 1em;
}
.fc .fc-button-primary:disabled {
  background-color: var(--fc-button-bg-color);
  border-color: var(--fc-button-border-color);
  color: var(--fc-button-text-color);
}
.fc .fc-button:disabled {
  opacity: 0.65;
}
.fc .fc-button-primary {
  background-color: var(--fc-button-bg-color);
  border-color: var(--fc-button-border-color);
  color: var(--fc-button-text-color);
}
.fc .fc-button {
  background-color: transparent;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  border-radius: 0.25em;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.4em 0.65em;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}
.fc .fc-button {
  appearance: button;
}
.fc .fc-button {
  border-radius: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
}
[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc-direction-ltr .fc-toolbar > * > :not(:first-child) {
  margin-left: 0.75em;
}
.fc .fc-button-group {
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc .fc-button {
  background-color: transparent;
  border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
  border-radius: 0.25em;
    border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  display: inline-block;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  padding: 0.4em 0.65em;
  text-align: center;
  user-select: none;
  vertical-align: middle;
}
.fc .fc-button {
  appearance: button;
}
.fc .fc-button {
  border-radius: 0px;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0px;
  overflow: visible;
  text-transform: none;
}
[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc .fc-button .fc-icon {
  font-size: 1.5em;
  vertical-align: middle;
}
.fc-icon {
  display: inline-block;
  font-family: fcicons !important;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  height: 1em;
  line-height: 1;
  text-align: center;
  text-transform: none;
  user-select: none;
  width: 1em;
}

.fc .fc-button .fc-icon {
  font-size: 1.5em;

  vertical-align: middle;

}
.fc-icon {
  display: inline-block;

  font-family: fcicons !important;

  font-style: normal;

  font-variant: normal;

  font-weight: 400;

  height: 1em;

  line-height: 1;

  text-align: center;

  text-transform: none;

  user-select: none;

  width: 1em;

}
.fc .fc-view-harness {
  flex-grow: 1;
  position: relative;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc .fc-view-harness-active > .fc-view {
  inset: 0px;
  position: absolute;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc .fc-scrollgrid-liquid {
  height: 100%;
}
.fc .fc-scrollgrid {
  border-bottom-width: 0px;
  border-collapse: separate;
  border-right-width: 0px;
}
.fc .fc-scrollgrid, .fc .fc-scrollgrid table {
  table-layout: fixed;
  width: 100%;
}
.fc-theme-standard .fc-scrollgrid {
  border: 1px solid var(--fc-border-color);
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section table, .fc .fc-scrollgrid-section > td {
  height: 1px;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}

.fc .fc-scroller-harness {
  direction: ltr;

  overflow: hidden;

  position: relative;

}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;

}
*, ::after, ::before {
  margin: 0;

  padding: 0;

  border: none;

  outline: none;

  box-sizing: border-box;

}
*, ::after, ::before {
  box-sizing: border-box;

}
.fc th {
  text-align: center;

}
th {
  text-align: inherit;

}
.fc .fc-scrollgrid {
  border-collapse: separate;

}
.fc table {
  border-collapse: collapse;

  border-spacing: 0px;

  font-size: 1em;

}
:root {
  --fc-small-font-size: .85em;
  --fc-page-bg-color: #fff;
  --fc-neutral-bg-color: hsla(0,0%,82%,.3);
  --fc-neutral-text-color: grey;
  --fc-border-color: #ddd;
  --fc-button-text-color: #fff;
  --fc-button-bg-color: #2c3e50;
  --fc-button-border-color: #2c3e50;
  --fc-button-hover-bg-color: #1e2b37;
  --fc-button-hover-border-color: #1a252f;
  --fc-button-active-bg-color: #1a252f;
  --fc-button-active-border-color: #151e27;
  --fc-event-bg-color: #3788d8;
  --fc-event-border-color: #3788d8;
  --fc-event-text-color: #fff;
  --fc-event-selected-overlay-color: rgba(0,0,0,.25);
  --fc-more-link-bg-color: #d0d0d0;
  --fc-more-link-text-color: inherit;
  --fc-event-resizer-thickness: 8px;
  --fc-event-resizer-dot-total-width: 8px;
  --fc-event-resizer-dot-border-width: 1px;
  --fc-non-business-color: hsla(0,0%,84%,.3);
  --fc-bg-event-color: #8fdf82;
  --fc-bg-event-opacity: 0.3;
  --fc-highlight-color: rgba(188,232,241,.3);
  --fc-today-bg-color: rgba(255,220,40,.15);
  --fc-now-indicator-color: red;
}
.fc .fc-scrollgrid-liquid {
  height: 100%;
}
.fc .fc-scrollgrid {
  border-bottom-width: 0px;
  border-collapse: separate;
  border-right-width: 0px;
}
.fc .fc-scrollgrid, .fc .fc-scrollgrid table {
  table-layout: fixed;
  width: 100%;
}
.fc-theme-standard .fc-scrollgrid {
  border: 1px solid var(--fc-border-color);
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc .fc-scrollgrid {
  border-collapse: separate;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
}
.fc .fc-scrollgrid-section-liquid > td {
  height: 100%;
}
.fc .fc-scrollgrid-section, .fc .fc-scrollgrid-section table, .fc .fc-scrollgrid-section > td {
  height: 1px;
}
.fc .fc-scrollgrid-section > * {
  border-left-width: 0px;
  border-top-width: 0px;
}
.fc-liquid-hack td, .fc-liquid-hack th {
  position: relative;
}
.fc-theme-standard td, .fc-theme-standard th {
  border: 1px solid var(--fc-border-color);
}
.fc td, .fc th {
  padding: 0px;
  vertical-align: top;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc .fc-scrollgrid {
  border-collapse: separate;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
}
.fc .fc-scrollgrid {
  border-collapse: separate;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
}
table {
  border-collapse: collapse;
}
.fc .fc-scroller-harness {
  direction: ltr;
}
.fc .fc-scrollgrid {
  border-collapse: separate;
}
.fc table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: 1em;
}

.fc .fc-daygrid-body {
  position: relative;
  z-index: 1;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}

.fc-liquid-hack .fc-daygrid-day-frame {
  position: static;
}
.fc .fc-daygrid-day-frame {
  min-height: 100%;
  position: relative;
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;
}
.fc .fc-day-other .fc-daygrid-day-top {
  opacity: 0.3;
}
.fc .fc-daygrid-day-top {
  display: flex;
  flex-direction: row-reverse;
}
.fc .fc-daygrid-day-number {
  padding: 4px;
  position: relative;
  z-index: 4;
}