.fc .fc-button-primary:disabled {
    background-color: var(--fc-button-bg-color);
    border-color: var(--fc-button-border-color);
    color: var(--fc-button-text-color);
  }
  .fc .fc-button:disabled {
    opacity: 0.65;
  }
  .fc .fc-button-primary {
    background-color: var(--fc-button-bg-color);
    border-color: var(--fc-button-border-color);
    color: var(--fc-button-text-color);
  }
  .fc .fc-button {
    background-color: transparent;
    border: 1px solid transparent;
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    border-radius: 0.25em;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    padding: 0.4em 0.65em;
    text-align: center;
    user-select: none;
    vertical-align: middle;
  }
  .fc .fc-button {
    appearance: button;
  }
  .fc .fc-button {
    border-radius: 0px;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0px;
    overflow: visible;
    text-transform: none;
  }

  .fc, .fc *, .fc ::after, .fc ::before {
    box-sizing: border-box;
  }

  .fc th {
    text-align: center;
  }

  element {
}
.fc, .fc *, .fc ::after, .fc ::before {
  box-sizing: border-box;

}
*, ::after, ::before {
  margin: 0;

  padding: 0;

  border: none;

  outline: none;

  box-sizing: border-box;

}
*, ::after, ::before {
  box-sizing: border-box;

}
.fc th {
  text-align: center;

}
th {
  text-align: inherit;

}
.fc table {
  border-collapse: collapse;

  border-spacing: 0px;

  font-size: 1em;

}
.fc .fc-scroller-harness {
    direction: ltr;
  }
  .fc .fc-scrollgrid {
    border-collapse: separate;
  }
  .fc-direction-ltr {
    direction: ltr;
    text-align: left;
  }
  .fc {
    font-size: 1em;
  }
  .fc-liquid-hack td, .fc-liquid-hack th {
    position: relative;
  }
  .fc-theme-standard td, .fc-theme-standard th {
    border: 1px solid var(--fc-border-color);
  }
  .fc td, .fc th {
    padding: 0px;
    vertical-align: top;
  }
  .fc, .fc *, .fc ::after, .fc ::before {
    box-sizing: border-box;
  }
  .fc .fc-scrollgrid-liquid {
    height: 100%;
  }
  .fc .fc-scrollgrid {
    border-bottom-width: 0px;
    border-collapse: separate;
    border-right-width: 0px;
  }
  .fc .fc-scrollgrid, .fc .fc-scrollgrid table {
    table-layout: fixed;
    width: 100%;
  }
  .fc-theme-standard .fc-scrollgrid {
    border: 1px solid var(--fc-border-color);
  }
  .fc table {
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 1em;
  }
  .fc, .fc *, .fc ::after, .fc ::before {
    box-sizing: border-box;
  }